<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flag</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style><%-param%></style>
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Flag</h1>
        <p class="lead">Congratulations!</p>
        <div class="input-wrapper">
            <div class="input-container">
                <input class="form-control text-success text-center" name="flag" value="<%-FLAG%>" type="hidden">
            </div>
        </div>
        <a href="/" class="btn btn-secondary mt-3">Go back to Index</a>
    </div>
</body>
</html>